<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: 'true' }"></ngx-loading>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <label class="Tile">Master Floor</label>
      </div>
      <div class="card-body pl-0 pr-0">
        <div class="col">
          <form class="form-1">
            
            <div class="form-group row">
              <label for="floorCode" class="col-md-3 col-xl-2 col-form-label">Code</label>
              <div class="col-sm col-md-8 col-lg-4">
                <input type="text" class="form-control" id="floorCode" name="floorCode" [(ngModel)]="floorCode" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="floorName" class="col-md-3 col-xl-2 col-form-label">Name</label>
              <div class="col-sm col-md-8 col-lg-4">
                <input type="text" class="form-control" id="floorName" name="floorName" [(ngModel)]="floorName" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="floorDesc" class="col-md-3 col-xl-2 col-form-label">Description</label>
              <div class="col-sm col-md-8 col-lg-4">
                <input type="text" class="form-control" id="floorDesc" name="floorDesc" [(ngModel)]="floorDesc">
              </div>
            </div>
            <div class="form-group row">
              <label for="floorProperty" class="col-md-3 col-xl-2 col-form-label">Property</label>
              <div class="col-sm col-md-8 col-lg-4">
                <input type="text" class="form-control" id="floorProperty" name="floorProperty" [(ngModel)]="floorProperty" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="Active" class="col-md-3 col-xl-2 col-form-label">Active</label>
              <div class="col-sm col-md-8 col-lg-4">
                <label class="custom-control custom-checkbox">
                  <input [(ngModel)]="active" type="checkbox" class="custom-control-input" id="Active" name="Active"
                    checked>
                  <span class="custom-control-indicator"></span>
                  <!-- <span class="custom-control-description">Fixed Rate</span> -->
                </label>
                <!-- <input type="text" class="form-control" id="Active"> -->

              </div>
            </div>
          </form>
          <br>
          <form class="form-inline justify-content-end">
            <button type="submit" (click)="btnSave()" class="btn btn-add">Save</button>
            <!-- <button type="submit" class="btn btn-checked-out col col-md-2 col-xl-1">Delete</button> -->
            <button type="button" (click)="btnCancel()" class="btn btn-delete">Cancel</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>